<%= link_to '↩️戻る', companies_path, class: 'back-link' %>

<%# あとで変数的に扱えるようにする %>
<h4>会社情報を編集</h4>

<%= form_with(model: @company, local: true, data: { turbo: false }) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h6><%= @company.errors.count %>件エラーが発生しました:</h6>
      <ul>
        <% @company.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :desire %>
    <%= 
      f.select :desire, 
      Company.desires.keys.map {|k| [t("activerecord.enums.company.desire.#{k}"), k] }, 
      {}, 
      class: "form-select" 
    %>

  </div>

  <div class="mb-3">
    <%= f.label :status %>
    <%= 
      f.select :desire, 
      Company.statuses.keys.map {|k| [t("activerecord.enums.company.status.#{k}"), k] }, 
      {}, 
      class: "form-select" 
    %>
  </div>

  <div class="mb-3">
    <%= f.label :strength %>
    <%= f.text_field :strength, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :weakness %>
    <%= f.text_field :weakness, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :information %>
    <%= f.text_area :information, class: "form-control", rows: 3 %>
  </div>

  <div class="mb-3">
    <%= f.label :memo %>
    <%= f.text_area :memo, class: "form-control", rows: 3 %>
  </div>

  <%= f.submit "更新する", class: "btn btn-primary" %>
<% end %>
